* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGIN PAGE SECTION */
.login-page {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}


.login-page__left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15rem;
    width: 70%;
    background: linear-gradient(180deg, #0575E6 0%, #02298A 84.79%, #021B79 100%);
    color: white;
    gap: 10px;
}

.login-page__left-content h1 {
    font-size: 40px;
}

.login-page__left-content p {
    font-size: 20px;
}

.login-page__left-content button {
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgba(5, 117, 230, 1);
    margin-top: 10px;
    width: 115px;
    padding: 0.75rem;
    cursor: pointer;
}

.login-page__left-content button:hover {
    background-color: rgb(0, 95, 190);
}

.login-page__right-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

.login-page__right-content form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.login-page__right-content form input {
    padding: 15px 20px 15px 49px;
    border-radius: 30px;
    border: 1px solid rgb(186, 186, 186);
}

.login-page__right-content form input#email-login {
    background-image: url('../assets/envelope-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.login-page__right-content form input#password-login {
    background-image: url('../assets/lock-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.login-page__right-content form button#login {
    padding: 18px 26px 18px 26px;
    border-radius: 30px;
    border: none;
    background-color: rgba(5, 117, 230, 1);
    color: white;
    cursor: pointer;
}

.login-page__right-content form button#login:hover {
    background-color: rgb(2, 95, 189);

}

.login-page__btn-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.login-page__btn-group button#forgot-password {
    border: none;
    background-color: transparent;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

.login-page__btn-group button#sign-up {
    border: none;
    background-color: transparent;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

/* END OF LOGIN PAGE */

/* SIGN UP PAGE */
.signup-page {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}


.signup-page__left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15rem;
    width: 70%;
    background: linear-gradient(180deg, #0575E6 0%, #02298A 84.79%, #021B79 100%);
    color: white;
    gap: 10px;
}

.signup-page__left-content h1 {
    font-size: 40px;
}

.signup-page__left-content p {
    font-size: 20px;
}

.signup-page__left-content button {
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgba(5, 117, 230, 1);
    margin-top: 10px;
    width: 115px;
    padding: 0.75rem;
    cursor: pointer;
}

.signup-page__left-content button:hover {
    background-color: rgb(0, 95, 190);
}

.signup-page__right-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.signup-page__right-content form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.signup-page__right-content form input {
    padding: 15px 20px 15px 49px;
    border-radius: 30px;
    border: 1px solid rgb(186, 186, 186);
}

.signup-page__right-content form input#full-name-signup {
    background-image: url('../assets/user-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.signup-page__right-content form input#email-signup {
    background-image: url('../assets/envelope-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.signup-page__right-content form input#password-signup {
    background-image: url('../assets/lock-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.signup-page__right-content form button#register {
    padding: 18px 26px 18px 26px;
    border-radius: 30px;
    border: none;
    background-color: rgba(5, 117, 230, 1);
    color: white;
    cursor: pointer;
}

.signup-page__right-content form button#register:hover {
    background-color: rgb(2, 95, 189);
}

.signup-page__btn-signin {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.signup-page__btn-signin button#forgot-password {
    border: none;
    background-color: transparent;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

/* END OF SIGN UP PAGE */


/* DASHBOARD USER */
.dashboard-user {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-user__header {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(5, 113, 225, 1);
    padding: .75rem 4rem;
    gap: .5rem;
    align-items: center;
}

.dashboard-user__header-person {
    color: white;
    /* margin-right: 2rem; */
}

.dashboard-user__header img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.dashboard-user__header-person {
    display: flex;
    flex-direction: column;
}

.dashboard-user__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 3.5rem;
    background-color: rgba(228, 228, 228, 0.496);
    height: 100%;
}

.dashboard-user__content-button {
    width: 11rem;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: #22c03a;
    color: white;
}

.dashboard-user__content-button:hover {
    cursor: pointer;
    background-color: #1fae35;
    transition: all ease-in-out .2s;
}

/* End of Dashboard user */

/* Create Data */
.create-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem;
}

.create-data h2 {
    margin-bottom: 1rem;
}

.create-data form {
    display: flex;
    flex-direction: column;
}

.create-data form input.create-data__input-field {
    margin-bottom: 1rem;
    padding: .5rem;
    max-width: 300px;
}

.item-price__status-option {
    display: flex;
    align-items: center;
}

.item-price__status-option label:nth-child(2) {
    margin-right: 1rem;
}

.create-data form button {
    max-width: 300px;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: #22c03a;
    color: white;
}

.create-data form button:hover {
    cursor: pointer;
    background-color: #1fae35;
    transition: all ease-in-out .2s;
}

/* END OF CREATE DATA */

/* PROFILE */
.profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #97a8e8; */
}

.profile-page__container {
    display: flex;
    gap: 1rem;
}

.profile-page__details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.profile-page img {
    margin-top: 1rem;
    height: 250px;
    width: 250px;
}

/* END OF PROFILE */


/* Responsive Design LoginPage */
@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
        align-items: center;
    }

    .login-page__left-content, .login-page__right-content {
        width: 100%;
        padding: 2rem;
    }



    .login-page__left-content h1 {
        font-size: 2rem;
    }

    .login-page__right-content {
        padding-top: 2rem;
    }

    .login-page__right-content form {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .login-page__left-content h1 {
        font-size: 1.5rem;
    }

    .login-page__right-content form {
        width: 90%;
    }

    .login-page__btn-group {
        flex-direction: column;
        align-items: center;
    }

    .login-page__btn-group button {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

/* Responsive Design for Sign Up Page */
@media (max-width: 768px) {
    .signup-page {
        flex-direction: column;
        align-items: center;
    }

    .signup-page__left-content, .signup-page__right-content {
        width: 100%;
        padding: 2rem;
    }


    .signup-page__left-content h1 {
        font-size: 2rem;
    }

    .signup-page__right-content {
        padding-top: 2rem;
        text-align: center;
    }

    .signup-page__right-content form {
        width: 80%;
    }

    .signup-page__btn-signin {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .signup-page__left-content h1 {
        font-size: 1.5rem;
    }

    .signup-page__right-content form {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .profile-page__container {
        flex-direction: column;
        /* Keep image and details stacked on smaller screens */
    }
}